:root {
    --mainBtnColor: #EBAC78;
    --borderColor: #ddb271;
}

body {
    margin: 0;
    overflow: hidden;
    position: relative;
}

.globalBtn {
    border: none;
    border-radius: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: absolute;
    font-weight: bold;
    font-size: large;
    height: 2.5em;
    margin-top: 3em;
}

.globalBtn:hover {
    cursor: pointer;

}

#sceneCanvas {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#mainBtn {
    background-color: var(--mainBtnColor);
    color: rgb(255, 255, 255);
    width: 5em;
    left: 3.5em;
}

#mainBtn:hover {
    color: aqua;
    background-color: rgb(17, 75, 75);
    width: 5.3em;
    height: 2.6em;
}

#exitBtn {
    background-color: white;
    color: #cc8145;
    right: 3.5em;
    width: 2.5em;
}

#questionBtn {
    background-color: white;
    color: #cc8145;
    right: 6.5em;
    width: 2.5em;
}

#checkBtn {
    color: rgb(47, 185, 70);
    background-color: white;
    right: 2em;
    bottom: 2em;
    width: 2.5em;
}

#checkBtn:hover {
    background-color: rgb(47, 185, 70);
    color: white;
}

#questionBtn:hover {
    color: aqua;
    background-color: rgb(17, 75, 75)
}

#exitBtn:hover {
    color: aqua;
    background-color: rgb(17, 75, 75)
}

#choiceMenu {
    background-color: green;
    border-radius: 10px;
    position: fixed;
    bottom: 2em; /* Adjust this value as needed */
    left: 50%;
    transform: translateX(-50%);
    padding: 20px;
    width: 80%; /* Adjust the width as needed */
    max-width: 600px; /* Optionally, limit the maximum width */
    height: 20%; /* Adjust the height as needed */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
    gap: 10px;
    justify-items: center;
    align-items: center;
    z-index: 999; /* Ensure it appears above other content */
}

.thumbnail {
    width: 70%;
    height: auto;
    cursor: pointer;
    background-color: rgb(250, 232, 209);
    border: 3px solid var(--borderColor);
    border-radius: 10px;
}

@media (max-width: 480px) {
    #choiceMenu {
        background-color: white;
        border-radius: 10px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        padding: 10px;
        bottom: 0em;
        width: 100%;
        height: 35%;

    }

    #checkBtn {
        background-color: white;
        color: rgb(47, 185, 70);
        right: 2em;
        bottom: 17em;
        width: 2.5em;
    }

    #exitBtn {
        background-color: white;
        color: #cc8145;
        right: 2em;
        width: 2.5em;
    }

    #questionBtn {
        background-color: white;
        color: #cc8145;
        right: 5em;
        width: 2.5em;
    }

    #mainBtn {
        background-color: #EBAC78;
        color: rgb(255, 255, 255);
        width: 5em;
        left: 2em;
    }
}



@media (max-width: 1000px) and (min-width: 480px) {
    #checkBtn {
        background-color: white;
        color: rgb(47, 185, 70);
        right: 3.5em;
        bottom: 12em;
        width: 2.5em;
    }
}

@media (min-height:800px) {
    #checkBtn {
        background-color: white;
        color: rgb(47, 185, 70);
        right: 2em;
        bottom: 18em;
        width: 2.5em;
    }
}