:root {
  --mainBtnColor: #EBAC78;
  --borderColor: #ddb271;
  --backgroundcolor: #ffffff;
  --acssentColor: #9B5EF5;
  --mainBtnColor: #ebac78;
  --borderColor: #ddb271;
  --backgroundcolor: #ffffff;
  --purple: #9720f5;
  --inputBackground: #f4f3ff;
  --greyFont: #9390b2;
  --purpleFont: #a24e98;
  --lightgrey: #d9d9d9;
  --darkgrey: #656062;
  --blackBackground: #1e1e1e;
  --redButton: #eb628e;
  --redFont: #f5b4c9;
  --extraTab: #E5D2F3;
}


#this{
  border-color: #9720f5!important;
  background-color: #9720f5!important;
  color: #9720f5!important;

}

body {
  margin: 0;
  position: relative;
}

.globalBtn {
  border: none;
  border-radius: 10px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  position: absolute;
  font-weight: bold;
  font-size: large;
  height: 2.5em;
  margin-top: 3em;
}

.globalBtn:hover {
  cursor: pointer;
}

#sceneCanvas {
  position: fixed;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -5;
}

#checkBtn:hover {
  background-color: rgb(47, 185, 70);
  color: white;
}

#choiceMenu {
  background-color: white;
  height: 30vh;
}

#checkBtn {
  background-color: white;
  position: fixed;
  color: rgb(47, 185, 70);
  right: 2em;
  bottom: 20em;
  width: 2.5em;
}

#menuOptions {
  overflow-x:auto;
}

#colors {
  background-color: white;
  margin-bottom: 0em;
  overflow: auto;
  max-height: 300px;
  min-height: 300px;
}

#allColors {
  border: none;
  border-radius: 10px;
  height: 50px;
}
#undo:hover, #redo:hover, #redo:active, #undo:active {
  background-color: var(--purple); /* Set the background color to dark purple */
}
.container {
  display: flex;
 }

.container > div {
  flex-shrink: 0; /* Prevents the divs from shrinking */
  width: 65px; /* Set a fixed width for each div */
}

.tab {
  position: relative;
  background-color: var(--lightgrey);

}
.tab.active {
  background-color:var(--acssentColor);
}

#bootstrapTab {
  background-color: rgb(255, 255, 255);
}
 .hidden-tab{
  display: none;
  background-color: var(--extraTab);
} 
.hidden-tab.active {
  background-color: var(--greyFont);
}
.imgIconTab {
  height: 30px;
}


#link {
  padding-left: 20px;
  padding-right: 20px;
  height: 40px;
  background-color: rgb(164, 131, 131);

}

#inputEmail,
#inputUsername,
#inputPassword {
  background-color: var(--inputBackground);
  color: var(--purple);
  height: 50px;
  border-radius: 15px;
}
#undo,#redo{
  width: 15%;
  background-color: var(--lightgrey);
}

.form-control::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--purple);
  opacity: 1;
  /* Firefox */
}

.form-control:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: var(--purple);
}

.form-control::-ms-input-placeholder {
  /* Microsoft Edge */
  color: var(--purple);
}

.btn-primary {
  background-color: var(--purple);
  border-radius: 15px;
}

.inputFont {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-align: center;

  color: var(--purple);
}

.p {
  font-family: "Inter";
  font-size: small;
  color: var(--greyFont);
}

.p1 {
  font-family: "Inter";
  font-size: small;
  color: var(--purpleFont);
}

.form-check-input {
  height: 40px;
  min-width: 90px;
}

#flexSwitchCheckDefault {
  color: white;
}

/* DARK-MODE */
.dark-mode html {
  background-color: var(--blackBackground);
}

.dark-mode {
  background-color: var(--blackBackground);

}

.dark-mode .btn-primary {
  background-color: var(--redButton);
  color: var(--blackBackground);
}

.dark-mode .inputFont {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-align: center;

  color: var(--redFont);
}

.dark-mode #inputEmail,
.dark-mode #inputUsername,
.dark-mode #inputPassword {
  background-color: var(--darkgrey);
  color: var(--redFont);
  height: 50px;
  border-radius: 15px;
}

.dark-mode .form-control::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--redFont);
  opacity: 1;
  /* Firefox */
}

.dark-mode .form-control:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: var(--redFont);
}

.dark-mode .form-control::-ms-input-placeholder {
  /* Microsoft Edge */
  color: var(--redFont);
}

.dark-mode .p1 {
  color: var(--redFont);
  ;
}